body {
  font-family: "Poppins";
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.header img {
  width: 204px;
  height: 45px;
}

.main {
  display: flex;
  flex-direction: row;
  background-color: #b5daf7;
  border-radius: 20px;
  width: 90%;
  margin: auto;
}

.leftside {
  display: flex;
  flex-direction: column;
}

.leftside h2 {
  margin-top: 50px;
  padding: 5px;
  text-align: center;
  color: #233863;
}

.form {
  display: flex;
  flex-direction: column;
  color: #233863;
  font-weight: bold;
  font-size: large;
  align-items: center;
  justify-content: center;
  margin-left: 8%;
}

.form h2 {
  margin-top: 20px;
  text-align: center;
  color: #233863;
}

button {
  background-color: #233863;
  box-shadow: 1px 3px #707fa1;
  color: #b5daf7;
  width: 300px;
  height: 50px;
  border-radius: 12px;
  font-weight: bold;
  font-size: large;
  text-align: center;
}
button:hover {
  background-color: #324e86;
}

.form p {
  text-align: center;
  font-weight: normal;
  font-size: 15px;
}

.formPage label,
input {
  display: block;
}

.formPage input {
  width: 300px;
  height: 35px;
  border-radius: 12px;
  font-family: "Poppins";
  border-width: thin;
}

.check {
  margin: 10px;
  display: flex;
}

.check input {
  width: 20px;
  height: 20px;
  display: inline;
}

.check label {
  font-size: 15px;
  margin-left: 10px;
}

#question {
  text-align: left;
}

.changeOption {
  display: flex;
  align-items: baseline;
}

.changeOption a {
  margin-top: 10px;
  margin-left: 10px;
}

.forgotPass {
  padding: 5%;
  display: flex;
  align-items: flex-end;
}

a {
  color: #233863;
  font-size: 15px;
  float: right;
}
